:root {
  --body-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  --wrapper-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  --wrapper-background-color: rgba(226, 226, 226, 0.8);
  --header-background-color: #2b394d;
  --header-font-primary: #a8a8a8;
  --header-font-secondary: #fb6d3a;
  --header-font-tertiary: #dedede;
  --aside-background-color: #1e2939;
  --aside-font-primary: #fdfdfd;
  --aside-font-secondary: #fb6d3a;
  --aside-decoration-color: #fb6d3a;
  --photo-border-primary: #ffffff;
  --photo-border-secondary: #fb6d3a;
  --main-font-primary: #1c1b1b;
  --main-font-secondary: ;
  --main-font-tertiary: #fb6d3a;
  --main-font-quaternary: #a8a8a8;
  --button-background-color: #fb6d3a;
  --button-border-color: #2b394d;
  --button-font-primary: #2b394d;
  --button-font-secondary: #e2e2e2;
  --button-font-tertiary: #b7b7b7;
  --modal-background-color: #d6d6d6;
  --modal-border-style:  8px solid #2b394d;
  --modal-img-border-style: 12px double rgb(169, 169, 169);
}
