 <aside class="aside">
        <div class="cv-photo">
          <img class="cv-photo__img" src="./img/Seba.jpg" width="200" alt="Seba" />
        </div>

        <section class="aside__box">
          <div>
            <h2 class="aside__sub-title">Kontakt</h2>
            <p>
              <a class="aside__contact" href="tel:793083013">
                <svg class="aside__icon-smartphone">
                  <use href="./img/icons.svg#icon-smartphone"></use>
                </svg>
                <span>793 083 013</span>
              </a>
            </p>
            <p>
              <a class="aside__contact" href="mailto:sebaadamoszek@vp.pl">
                <svg class="aside__icon-envelope">
                  <use href="./img/icons.svg#icon-envelope"></use>
                </svg>
                <span>sebaadamoszek@vp.pl</span>
              </a>
            </p>
          </div>
          <div class="aside__skills-box">
            <h2 class="aside__sub-title">Umiejętności twarde</h2>
            <ul class="aside__list">
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">Znajomość:</span>
                <ul class="skills-dev__list">
                  <li class="skill-dev__item">
                    <p class="skill-dev__list-style"></p>
                    <p>html, css, sass, bem</p>
                  </li>
                  <li class="skill-dev__item">
                    <p class="skill-dev__list-style"></p>
                    <p>js, react</p>
                  </li>
                  <li class="skill-dev__item">
                    <p class="skill-dev__list-style"></p>
                    <p>github, git</p>
                  </li>
                </ul>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">zdolności manualne</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">dokładność i precyzja</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">język angielski podstawowy</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">prawo jazdy kat. B</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item"
                  >znajomość branży zegarmistrzowskiej</span
                >
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item"
                  >wiedza z zakresu sprzedaży hurtowej i detalicznej</span
                >
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">znajomość narzędzi Office</span>
              </li>
            </ul>
          </div>
          <div class="aside__skills-box">
            <h2 class="aside__sub-title">Umiejętności miękkie</h2>
            <ul class="aside__list">
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">duża motywacja do pracy</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">samodzielność</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">chęć do nauki i samorozwoju</span
                >
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">dobre zarządzanie czasem</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">terminowość </span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">lojalność</span>
              </li>

                <p class="aside__list-style"></p>

                <span class="aside__list-item">zdolność analitycznego myślenia</span>
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">komunikatywność i otwartość</span
                >
              </li>
              <li>
                <p class="aside__list-style"></p>

                <span class="aside__list-item">wysoka kultura osobista</span>
              </li>
            </ul>

            <ul class="aside__gallery-box">
              <li>
                <p class="aside__gallery-list--style"></p>
                <p class="aside__gallery-list--style"></p>
                <p class="aside__gallery-list--style"></p>
              </li>
              <img
                class="aside__gallery-miniature"
                width="120"
                src="./img/gallery/miniature001.jpg"
                alt="certyfikat"
                data-modal-open
              />
              <li>
                <p class="aside__gallery-list--style"></p>
                <p class="aside__gallery-list--style"></p>
                <p class="aside__gallery-list--style"></p>
              </li>
              <span class="aside__gallery-text"
                     data-modal-open
                    >Kliknij
                </span>
            </ul>
          </div>
        </section>
      </aside>