 <section class="section__box">
          <h2 class="section__title">Kariera zawodowa</h2>
          <h3 class="section__sub-title">
           Sprzedawca serwisant
            <span class="section__title-color">Pracownik hurtowni</span>
          </h3>
          <p class="section__date">2012-2023 "Perfect Hurt"</p>
          <ul class="section__list">
            <li>
              Obsługa kontrahentów, sprzedaż, przymowanie towaru, prowadzenie serwisu
            </li>
          </ul>
        </section>

        <section class="section__box">
          <h3 class="section__sub-title">
            Kierownik serwisu
            <span class="section__title-color">Serwisant</span>
          </h3>
          <p class="section__date">2010-2012 P.U.H HERMES "TIMEMASTER"</p>
          <ul class="section__list">
            <li>
              Kierowanie zaspołem, zlecanie napraw, kontrola ilościowa i
              jakościowa wykonanych prac
            </li>
          </ul>
        </section>
        <section class="section__box">
          <h3 class="section__sub-title">
            Magazynier <span class="section__title-color">Serwisant </span>
          </h3>
          <p class="section__date">2000-2010 P.U.H HERMES "TIMEMASTER"</p>
          <ul class="section__list">
            <li>
              Obsługa kontrahentów, opowiedzialność za przyjmowanie i wydawanie
              towaru, realizacja i wysyłka zamówien
            </li>
          </ul>
        </section>
        <section class="section__box">
          <h3 class="section__sub-title">
            Serwisant <span class="section__title-color">Zegarmistrz</span>
          </h3>
          <p class="section__date">1993-2023 Praca na zlecenie</p>
          <ul class="section__list">
            <li>
              Jako zegarmistrz aktywnie współpracuje z firmami prowadzacymi
              sprzedaż zegarków, zegarów są to sklepy stacjonarne, e-commerce,
              hurtownie, klienci indywidualni
            </li>
          </ul>
        </section>