  <section class="section__box">
          <h2 class="section__title">Edukacja - wykształcenie średnie</h2>
          <ul class="section__list">
            <p class="section__description">
              <span class="section__date">1993-1996</span>
              <span class="section__title-color">Szkoła Zawodowa</span>
            </p>
            <li>
              ZSZ w Katowicach oraz nauka zawodu w zakładzie zegarmistrzowskim
            </li>
            <p class="section__description">
              <span class="section__date">1996-1999 </span>
              <span class="section__title-color">Szkoła Średnia</span>
            </p>
            <li>ŚTZN w Katowicach kierunek "Technik Mechanik sp. budowa maszyn"</li>
            <p class="section__description">
              <span class="section__date">1999-2002</span>
              <span class="section__title-color">Szkoła Wyższa</span>
            </p>
            <li>Uniwersytet Śląski kierunek Informatyka - jeden semestr</li>
            <li>Wyższa Szkoła Zarządzania Marketingowego - dwa semestry</li>
            <p class="section__description">
              <span class="section__date">2007- nadal </span
              ><span class="section__title-color">Sędzia Hokeja na Lodzie</span>
            </p>
            <li>
              Kariera sędziego - Sędzia główny I ligi polskiej , Sędzia linowy
              Ekstraliga polska, obecnie sędzia szczebla okręgowego
            </li>
            <p class="section__description">
              <span class="section__date">2023 </span
              ><span class="section__title-color"
                >Kursy programistyczne oraz kompetencji cyfrowych</span
              >
            </p>
            <li>Kurs 10 miesięczny Fullstack Developer GO-IT Polska</li>
            <li>Szkolenie komputerowe ICT - REACT 120h</li>
          </ul>
        </section>