<header class="header">
    <div class="header__box">
        <h2 class="header__title">Frontend Developer</h2>
        <h1 class="header__person header__person-animation">
            <span class="header__person-first-name"><span class="header__letter-animation">S</span>ebastian</span>
            <span class="header__person-last-name">Adamoszek</span>
        </h1>
        <p class="header__sub-title">
            "Każda praca jest możliwa do wykonania jeśli podzielisz ją na małe
            odcinki"
        </p>
    </div>
</header>