<section class="section__box">
  <h2 class="section__title">Moje repozytoria</h2>
  <ul class="section__projects-list">
    <div class="section__project-sort">
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/CV','_blank')"
      >
        <p class="section__projects-list--text">cv</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-markup-hw-08','_blank')"
      >
        <p class="section__projects-list--text">html</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/projekt_grupa_02','_blank')"
      >
        <p class="section__projects-list--text">html</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-js-hw-09','_blank')"
      >
        <p class="section__projects-list--text">js</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-js-hw-10','_blank')"
      >
        <p class="section__projects-list--text">js</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-js-hw-11','_blank')"
      >
        <p class="section__projects-list--text">js</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/project-js','_blank')"
      >
        <p class="section__projects-list--text">js</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-01-components','_blank')"
      >
        <p class="section__projects-list--text">react</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-04-feedback','_blank')"
      >
        <p class="section__projects-list--text">react</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-04-phonebook','_blank')"
      >
        <p class="section__projects-list--text">react</p>
      </li>

      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-04-images','_blank')"
      >
        <p class="section__projects-list--text">react</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-react-hw-05-movies','_blank')"
      >
        <p class="section__projects-list--text">react</p>
      </li>
    </div>
    <div class="section__project-sort">
      <li
        onclick="window.open
          ('https://github.com/SebastianAdamoszek/goit-react-hw-07-phonebook','_blank')"
      >
        <p class="section__projects-list--text">redux</p>
      </li>
      <li
        onclick="window.open
        ('https://github.com/SebastianAdamoszek/goit-react-hw-08-phonebook','_blank')"
      >
        <p class="section__projects-list--text">redux</p>
      </li>
    </div>

    <div class="section__project-sort">
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/cli-aplikacja','_blank')"
      >
        <p class="section__projects-list--text">node</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/rest-api','_blank')"
      >
        <p class="section__projects-list--text">node</p>
      </li>
      <li
        onclick="window.open
            ('https://github.com/SebastianAdamoszek/goit-node.js-tasks','_blank')"
      >
        <p class="section__projects-list--text">node</p>
      </li>
    </div>
  </ul>
</section>
